@font-face {
  font-family: 'Assistant';
  src: url('Assistant-Regular.otf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Assistant', 'LM sans-serif', Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  background: black;
}

textarea {
  resize: none;
  border: 1px white solid;
  margin: 0 1em 0 1em;
  font-family: 'Assistant', 'LM sans-serif', Helvetica, sans-serif;
  color: white;
  background: black;
}

.page {
  position: relative;
  width: clamp(300px, 90%, 600px);
  margin: 2em auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
}

.flex > span {
  margin: 0 1em 0 1em;
}

.button {
  cursor: default;
  color: greenyellow;
}

.button:hover {
  text-decoration: underline;
}

#box {
  display: none;
  width: 80%;
  border: 1px white solid;
}
